.card {
    width: 250px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid #141E30;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-gap: 1rem 0;
    overflow: hidden;
    margin: 0 auto;
    padding: 1rem;
    font-family: 'Righteous', sans-serif;
    transform: scale(1);
    transition-duration: .3s;
    position: relative;
}

.card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.picture {
    background-image: url("https://yts.mx/assets/images/movies/american_pie_presents_band_camp_2005/medium-cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.box {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.rating span,
.year span {
    font-weight: 600;
    margin-left: 0.5rem;
}

.year {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.description {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 0.8rem;
    line-height: 1.05;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.description:hover {
    opacity: 1;
}